if (user) 
    .tweet 
        form(action='/tweets/add' method="POST")
            .row
                img.avatar-sm.v-top(src=`${user.avatarUrl}` alt="avatar")
                textarea.input-tweet(type='text' name='content' placeholder="What's up?" required)
            
            .row.tweet-actions
                //- input.hidden(type="file")
                .image-upload.image-preview-multiple
                    .image-preview-multiple._list
                    input(type="hidden" role="uploadcare-uploader" name='imageGroup' data-multiple data-clearable )
                    //- i.hidden.btn-clear
                    //-     i.far.fa-images
                    
                button.btn-primary Post
            

block script 
    script.
        console.log("Loading Preview Scripts");
        // adding preview
        function installWidgetPreviewMultiple(widget, list) {
            widget.onChange(function(fileGroup) {
                list.empty();
                if (fileGroup) {
                    $.when.apply(null, fileGroup.files()).done(function() {
                        $.each(arguments, function(i, fileInfo) {
                            var src = fileInfo.cdnUrl + '-/scale_crop/160x160/center/'

                            list.append($('<div/>', {class: '_item'}).append([$('<img/>', {src: src}), '']))
                        });
                    });
                }
            });
        }

        $(function() {
            // over write "choose images" button style to fa-images
            $('.uploadcare--widget__button_type_open').empty().removeClass().addClass('btn-clear far fa-images');
            $('.image-upload').each(function() {
                installWidgetPreviewMultiple(uploadcare.MultipleWidget($(this).children('input')), $('.image-preview-multiple._list'));
            });
        });