extends layout

block content
  .container
    .col-2of5.bg-white.profile 
        include userInfo  
        a.btn-border.space-top(href="/profile/edit") Edit profile
        a.btn-border.space-top(href="/logout") Log out
    
    //- .col-2of5.bg-white.profile
    //-   img.avatar(src="/img/avatar.jpg" alt="avatar")
    //-   h3 Yan Hong
    //-   h5 @honlyan
    //-   h4
    //-     i.fas.fa-map-marker-alt
    //-     |  Vancouver
    //-   p.center
    //-     | Director of EduHacks * Digital Ocean Vancouver Meetup Co-organizer * CEO of HackHub * Founder of Inverse Technology Inc.
    //-   a.btn-border.space-top(href="/profile/edit") Edit profile
    //-   a.btn-border.space-top(href="/logout") Log out

    .col-3of5.bg-white
        include postBox 
        include userTweets 