if (tweet.imageUrl)
    img(src=tweet.imageUrl alt="tweet")
if (tweet.imageGroup)
    iframe(id=imageGroup src=`${tweet.imageGroup}/gallery/-/nav/thumbs/-/autoplay/5000/-/loop/true/-/allowfullscreen/native/` width="100%" height="300" allowfullscreen="true" frameborder="0")

//- iframe(src="https://ucarecdn.com/884feee4-7290-4d37-9ffa-2d9e1496fed4~3/gallery/-/nav/thumbs/-/autoplay/5000/-/loop/true/-/allowfullscreen/native/" width="100%" height="300" allowfullscreen="true" frameborder="0") 

